.navbg {
    background-color: royalblue;
}
.navbar-text {
    position: relative;
        left: -100px;
}
.navbar a {
    color: black;
}
.dropdown a {
    color: black;
}

.jumbo {
    height: 100vh;
    background-image: url(images/lkb.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.text {
    color: white;
}

.card-img-top1 {
    height: 50vh;
    background-image: url(images/discord.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img-top2{
    height: 50vh;
    background-image: url(images/Steam.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img-top3{
    height: 50vh;
    background-image: url(images/Twitch.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnact:hover {
    background-color: greenyellow;
    border: greenyellow;
}